<div class="container mt-5">
  <div class="row justify-content-center g-3 mb-5">
    <div class="col-6 col-md-4 col-lg-4">
      <div class="card">
        <a href="#" target="_blank">
          <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
        </a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-4">
      <div class="card">
        <a href="#" target="_blank">
          <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
        </a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-4">
      <div class="card">
        <a href="#" target="_blank">
          <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
        </a>
      </div>
    </div>

    <div class="col-6 col-md-4 col-lg-4">
      <div class="card">
        <a href="#" target="_blank">
          <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
        </a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-4">
      <div class="card">
        <a href="#" target="_blank">
          <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
        </a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-4">
      <div class="card">
        <a href="#" target="_blank">
          <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
        </a>
      </div>
    </div>
    
  </div>
</div>