<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card card-img my-5">
        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/872a7591ab7d415eb00dfba6a49649f1_9366/Camiseta_Visitante_Chile_2024_Blanco_IQ0674_25_model.jpg"
          class="card-img-top" alt="Ropa">
        <h5 class="card-title text-light">Hombre</h5>
        <a [routerLink]="['/products/by-category-gender']" [queryParams]="{ category: 'camiseta', gender: 'hombre' }" class="btn btn-light">Ver todo hombre</a>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card card-img my-5">
        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8ccb78d219a84b86b46eaf9d00f04e9c_9366/Camiseta_Local_Chile_22-23_Rojo_IC5178_21_model.jpg" class="card-img-top"
          alt="Suplementos">
        <h5 class="card-title text-light">Mujer</h5>
        <a [routerLink]="['/products/by-category-gender']" [queryParams]="{ category: 'camiseta', gender: 'mujer' }" class="btn btn-light">Ver todo mujer</a>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card card-img my-5">
        <img
          src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/b8e538d54a05499698a4f6aca426db7f_9366/Camiseta_Visitante_Real_Madrid_24-25_Ninos_Naranjo_IT5177_25_model.jpg"
          class="card-img-top" alt="Accesorios">
        <h5 class="card-title text-light">Niños</h5>
        <a [routerLink]="['/products/by-category-gender']" [queryParams]="{ category: 'camiseta', gender: 'niños' }" class="btn btn-light">Ver todo niños</a>
      </div>
    </div>
  </div>
</div>
