.container {
    max-width: 960px;
    margin-bottom: 150px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  form {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button {
    margin-top: 1rem;
  }

.title {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 70px;
}
  