<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 title text-center text-dark">MI CUENTA</div>
      <div class="col-12 col-md-6 mb-4">
        <h2 class="text-center text-dark">Iniciar Sesión</h2>
        <form class="bg-dark">
          <div class="mb-3">
            <label for="loginEmail" class="form-label">Correo Electrónico / Nombre usuario</label>
            <input type="email" class="form-control" id="loginEmail" required>
          </div>
          <div class="mb-3">
            <label for="loginPassword" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="loginPassword" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
        </form>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-center text-dark">Registrarse</h2>
        <form class="bg-dark">
          <div class="mb-3">
            <label for="registerEmail" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="registerEmail" required>
          </div>
          <div class="mb-3">
            <label for="registerUsername" class="form-label">Nombre usuario</label>
            <input type="text" class="form-control" id="registerUsername" required>
          </div>
          <div class="mb-3">
            <label for="registerPassword" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="registerPassword" required>
          </div>
          <div class="mb-3">
            <label for="registerConfirmPassword" class="form-label">Confirmar Contraseña</label>
            <input type="password" class="form-control" id="registerConfirmPassword" required>
          </div>
          <button type="submit" class="btn btn-secondary w-100">Registrarse</button>
        </form>
      </div>
    </div>
  </div>
  