.container {
    max-width: 1200px;
  }
  
  .card {
    display: flex;
    align-items: center;
  }
  
  .card-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  .card-text {
    font-size: 1.25rem;
    color: #6c757d;
  }
  
  .img-fluid {
    max-height: 100vh;
    object-fit: cover;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .price {
    color: #e13454;
  }
  