<div class="container mt-5 mb-5" *ngIf="product">
    <div class="card shadow-sm border-0">
      <div class="row g-0">
        <div class="col-md-6">
          <img src="https://via.placeholder.com/600x600" alt="{{ product.name }}" class="img-fluid rounded-start w-100 h-auto">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <div class="card-body p-5">
            <h2 class="card-title display-4">{{ product.name }}</h2>
            <p class="card-text my-4">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, excepturi?
            </p>
            <p class="card-text my-4">
              <strong>Precio:</strong> $ {{ product.price }}
            </p>
            <button (click)="addToCart(product.id)" class="btn btn-primary">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
