.footer {
  background-color: #343a40;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-nav .list-inline {
  margin-bottom: 0;
}

.footer-nav .list-inline-item a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  margin-right: 15px;
}

.footer-nav .list-inline-item a:hover {
  color: #ced4da;
}

.social-links a {
  color: #ffffff;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.social-links a:hover {
  color: #ced4da;
}

.social-links .fab {
  margin-right: 1rem;
}

.footer p {
  margin-top: 1rem;
  color: #ffffff;
}
