<div class="container mt-5">
  <div *ngIf="!cartItems.length" class="alert alert-warning">El carrito está vacío</div>
  <div *ngIf="cartItems.length" class="row g-4">
    <div class="col-12 text-center"> <!-- Ajuste para centrar -->
      <h4 class="text-dark">Carro de compras</h4>
    </div>
    <div class="col-md-8">
      <div *ngFor="let cart of cartItems" class="col-12 mb-4">
        <div class="card card-cart bg-light-subtle">
          <img src={{cart.productSize.product.photo}} class="card-img-top" alt="...">
          <div class="card-body card-body-cart">
            <div class="text-section">
              <h5 class="card-title fw-bold">{{ cart.productSize.product.name }}</h5>
              <p class="card-text">Cantidad: {{ cart.quantity }}</p>
              <p class="card-text ">Talla: <strong class="text-uppercase">{{ cart.productSize.size.name }}</strong> </p>
              <p class="card-text">Precio: ${{ cart.quantity * cart.productSize.product.price }}</p>
            </div>
            <div class="cta-section">
              <a (click)="removeFromCart(cart.id_cart)" class="btn btn-danger">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-4">
      <div class="position-sticky" style="top: 20px;">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Resumen del Pedido</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Subtotal
                <span class="badge bg-secondary">$99.99</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Envío
                <span class="badge bg-secondary">$5.00</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Total
                <span class="badge bg-secondary">$104.99</span>
              </li>
            </ul>
            <div class="mt-3">
              <button class="btn btn-secondary btn-lg btn-block">Pagar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
